<header>
    
    <div class="container">

        <h4>
            Douglas Lacerda
        </h4>
    
        <div class="menu" (click)="openMenu()" #menu>
    
            <div class="hamburguer">
                
            </div>
    
        </div>
        
    </div>
    
    <div class="links" #navMenu>

        <nav>

            <ul>

                <li><a href="">Quem sou eu?</a></li>
                <li><a href="">Projetos</a></li>
                <li><a href="">Minhas habilidades</a></li>
                <li><a href="">Formação Acadêmica</a></li>
                <li><a href="">Contato</a></li>

            </ul>

        </nav>

    </div>

    <div class="background-links" (click)="openMenu()">

    </div>

</header>

<div class="welcome">
    
    <div class="container">

        <div class="content">

            <h1>
                Seja bem-vindo ao meu portfólio 👋
            </h1>

            <p>
                Aqui trago um pouco sobre mim e meus conhecimentos.
            </p>

        </div>

        <img src="../assets/img/avatar.png" alt="">

    </div>

</div>

<div class="about-me">

    <div class="container">

        <h3 class="bottom" #aside>
            Quem sou eu?
        </h3>

        <div class="flex">

            <div class="content">

                <p class="right" #aside>Sou o Douglas Lacerda, atualmente tenho 18 anos e busco oportunidades para atuar como desenvolvedor front-end.</p>
                
                <p class="bottom" #aside>Atuei por 3 meses como desenvolvedor front-end (estágio) na Unimed Guarulhos, onde desenvolvi recursos visuais para novas telas de usuários para demonstrar
                    os layouts para as partes interessadas e desenvolvi projetos utilizando Angular, HTML, CSS e
                    Javascript.
                </p>

                <p class="right" #aside>Meus principais objetivos ao entrar em uma vaga serão aprimorar minhas habilidades com desenvolvimento web, disponibilizar
                    apoio ao time e trazer melhores experiências para usuários.
                </p>

            </div>

            <img class="left" #aside src="../assets/img/pc.png" alt="">

        </div>

    </div>

</div>

<div class="projects">
    
</div>