<header>
    
    <div class="container">

        <h4>
            Douglas Lacerda
        </h4>
    
        <div class="menu" (click)="openMenu()" #menu>
    
            <div class="hamburguer">
                
            </div>
    
        </div>
        
    </div>
    
    <div class="links" #navMenu>

        <div class="memoji">
            
            <img src="../assets/img/memoji.png" width="100" alt="">
        
        </div>

        <nav>

            <ul>

                <li><a (click)="closeMenu()" href="#about-me">Quem sou eu?</a></li>
                <li><a (click)="closeMenu()" href="#projects">Projetos</a></li>
                <li><a (click)="closeMenu()" href="#skills">Minhas habilidades</a></li>
                <li><a (click)="closeMenu()" href="#formations">Formação Acadêmica</a></li>
                <li><a (click)="closeMenu()" href="#contact">Contato</a></li>

            </ul>

        </nav>

    </div>

    <div class="background-links" (click)="openMenu()">

    </div>

</header>

<div class="scroll-top">

    <a href="#welcome">

        <div class="to">
            <img src="../assets/img/arrow-top.svg" alt="">
        </div>
        
    </a>

</div>

<a name="welcome"></a>
<div class="welcome">
    
    <div class="container">

        <div class="content">

            <h1>
                Seja bem-vindo ao meu portfólio 👋
            </h1>

            <p>
                Aqui trago um pouco sobre mim e meus conhecimentos.
            </p>

        </div>

        <img src="../assets/img/avatar.png" alt="">

    </div>

</div>

<a name="about-me"></a>
<div class="about-me">

    <div class="container">

        <h3 class="bottom" #aside>
            Quem sou eu?
        </h3>

        <div class="flex">

            <div class="content">

                <p class="right" #aside>Sou o Douglas Lacerda, atualmente tenho 18 anos e busco oportunidades para atuar como desenvolvedor front-end.</p>
                
                <p class="bottom" #aside>Atuei por 3 meses como desenvolvedor front-end (estágio) na Unimed Guarulhos, onde desenvolvi recursos visuais para novas telas de usuários para demonstrar
                    os layouts para as partes interessadas e desenvolvi projetos utilizando Angular, HTML, CSS e
                    Javascript.
                </p>

                <p class="right" #aside>Meus principais objetivos ao entrar em uma vaga serão aprimorar minhas habilidades com desenvolvimento web, disponibilizar
                    apoio ao time e trazer melhores experiências para usuários.
                </p>

            </div>

            <img class="bottom" #aside src="../assets/img/pc.png" alt="">

        </div>

    </div>

</div>

<a name="projects"></a>
<div class="projects">
    
    <div class="container">

        <h3 class="bottom" #aside>
            E os projetos?
        </h3>

        <p class="bottom subtitle" #aside>
            Aqui estão
        </p>

        <div class="flex">
    
            <div class="cards-projects">
    
                <div *ngFor="let project of projects" class="card bottom" #aside>
    
                    <div class="image">
    
                        <img src="{{ project.image }}" alt="">
    
                    </div>

                    <div class="content-card">

                        <h4>
                            {{ project.name }}
                        </h4>

                        <p class="description">
                            {{ project.description }}
                        </p>

                        <div class="button">

                            <a href="">Visualizar projeto</a>

                        </div>

                    </div>
    
                </div>
    
            </div>

            <div class="animate">
                
                <div class="row-first top" #aside></div>
                <div class="row-second bottom" #aside></div>
                <div class="row-third bottom" #aside></div>

            </div>
    
        </div>

    </div>


</div>

<a name="skills"></a>
<div class="skills" #skillsSection>

    <div class="container">

        <h3 class="right" #aside>
            Minhas habilidades em destaque
        </h3>

    </div>

    <div class="slider-skills" (mousedown)="down($event)" 
        (mousemove)="move($event)" (mouseenter)="enter()" (mouseup)="up()" #sliderSkills>

        <div class="slider" #slider>

            <div *ngFor="let skill of skills" class="card">
                <img src="{{ skill.img }}" alt="">
            </div>

        </div>

    </div>

</div>

<a name="formations"></a>
<div class="formations">

    <div class="container">

        <h3 class="bottom" #aside>
            Formação Acadêmica
        </h3>

        <div class="courses">

            <div class="course top" *ngFor="let formation of formations" #aside>

                <div class="flex">
                    
                    <div class="icon">
                        
                        <img src="../assets/img/course.png" alt="">
                    
                    </div>

                    <div class="informations">

                        <h4>{{ formation.type }}</h4>

                        <p>{{ formation.where }}</p>

                        <span>{{ formation.date }}</span>

                    </div>

                </div>

                <div class="to-bottom"></div>

            </div>

        </div>

    </div>

</div>

<div class="contact">
    
    <div class="container">
        
        <h3>Contatos</h3>

        <div class="links">

            <a href="" class="item">

                <img src="../assets/img/github.svg" alt="">
            
            </a>
            
            <a href="" class="item">

                <img src="../assets/img/linkedin.svg" alt="">
            
            </a>
            
            <a href="" class="item">

                <img src="../assets/img/telephone.svg" alt="">
            
            </a>

        </div>
        
    </div>
    
</div>
<a name="contact"></a>